body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #007BFF; 
    padding: 10px 20px; 
}

.nav-list {
    list-style: none; 
    display: flex;
    justify-content: flex-start; 
    margin: 0; 
    padding: 0;
}

.nav-list li {
    margin-right: 20px; 
}

.nav-list a {
    color: white;
    text-decoration: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.nav-list a:hover {
    background-color: rgb(34, 31, 31); 
}
